
<!DOCTYPE html>
<html lang="en">
<head>
<title>Farmer Direct</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.css')}}" type="text/css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- css files -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" media="all" /> <!-- Style-CSS -->


	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

<!--/banner-->
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">

			<div class="col-md-3 col-sm-6 logo">
				<div class="col-md-3 col-sm-3 logo">
				<a class="navbar-brand" href="index.html"><img src="static/images/FDlogo.png" width="100" alt="FarmDirect" title="Anvayaa" id="main-logo" style="margin-top:0;width:50px;height:50px;">
				 FARMDIRECT</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 logo">
				<p class="py-2"> </p>
			</div>

			<div class="col-md-5 top-forms mt-md-4 mt-2 mb-md-0 mb-0">
			{% if 'email' in session %}
                  <span>
					<a href="/account">
						<i class="fa fa-school"></i>{{firstName}}</a></span>

			     <span>
					<a href="/logout">
						<i class="fa fa-school"></i> Logout</a></span>
			{% else %}

				<span>
					<a href="{{url_for('loginFormF')}}">
						<i class="fa fa-lock"></i>Login</a></span>


				<span>
					<a href="/registerationForm?isadmin=1" >
						<i class="fa fa-user"></i>Register</a>
				</span>



            {% endif %}


				<span>
					<a href="/cart" >
						<i class="fa fa-cart"></i>Cart{{productCountinKartForGivenUser}}</a>
				</span>
			</div>
		</div>
	</div>

	<div class="banner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="/">Home
								<span class="sr-only">HOME</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/farmers">FARMERS</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/services">SERVICES</a>
						<li class="nav-item">
							<a class="nav-link" href="/blog">BLOG</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/neighbourFarmers">NEIGHBOUR-CROPINFO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/marketwatch">MARKET RATES</a>
						</li>

					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner-text -->
<!-- You will not be able to see this text. -->



		<div id="wrapper" >

			<!-- Slideshow 1 -->
			<div class="rslides_container">
				<ul class="rslides" id="slider1">

					<li>
						<div class="banner-img one">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<section class="about py-5">
	<div class="container py-lg-3 py-2" style="margin-top:-100px;">
		<h3 class="heading text-capitalize text-center">BUY AND RENT FROM YOUR NEIGHBOURHOOD</h3>
		    <form class="navbar-form navbar-left" action="/farmers?loc=citySel?category=catSel">
				 <div class="form-group">
					 <!--<input class="col-md-4" type="text" class="form-control" placeholder="All Categories"  name="category" />
					 <input class="col-md-4" type="text" class="form-control" placeholder="All Cities"  name="city_name" />-->

					 <select id="catSel" name="catSel" size="1"  class="form-control" maxlength="75" id="id_catSel">
						 <option value="">Select Category</option>
						     <option value="" style="color:blue"><strong>BUY:</strong></option>

						   {% for row in categoryDict["Buy"] %}
						    <option value="{{row.category_name}}" placeholder="select Loc">&#160;&#160;&#160;{{row.category_name}}</option>
						    {%endfor%}
						    <option value="" style="color:blue"><strong>RENT:</strong></option>

						   {% for row in categoryDict["Rent"] %}
						    <option value="{{row.category_name}}" placeholder="select Loc">&#160;&#160;&#160;{{row.category_name}}</option>
						    {%endfor%}

					 </select><br>



					 <select id="citySel" name="citySel" size="1"  class="form-control" maxlength="75"  id="id_citytSel">
						 <option value="">Select City</option>
                                       {% for row in locationData %}
						             <option value="{{row.city}}" placeholder="select Loc">{{row.city}}</option>
                                    {% endfor %}
					 </select>
				 </div>

					 <button type="submit" class="col-md-2 form-control btn btn-warning"  aria-label="Click to search">SEARCH FARMERS</button>


			 </form>
	</div>

		<h5 class="heading mb-5 text-center"> </h5>
		<div class="about-head text-center ">
			<div class="row about-grids-top mb-5">
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i  href="\Farmers" class="fa fa-handshake-o" aria-hidden="true"></i>
					<h4	>Buy Local</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fa fa-leaf" aria-hidden="true"></i>
					<h4>FreshClean Food</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-sm-0 mt-5 about-grid p-0">
					<i class="fa fa-refresh" aria-hidden="true"></i>
					<h4>RentRecycle</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-truck" aria-hidden="true"></i>
					<h4>Timely Delivery</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-cogs" aria-hidden="true"></i>
					<h4>24/7 Service</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h4>Customers</h4>
				</div>
			</div>
			<div class="row about-grids-bottom text-left">
			</div>
		</div>

	</form>
</section>
								</div>
							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>
	<!-- //banner -->


<!-- about -->

<!-- //about -->



<!-- js-scripts -->

	<!-- js -->
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!-- carousel -->
	<script src="{{url_for('static',filename='js/owl.carousel.js')}}"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--slider-->
	<script src="{{url_for('static',filename='js/responsiveslides.min.js')}}"></script>
	<script>
		$(function () {
			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "centered-btns"
			});
		});
	</script>
	<!--//slider-->

	<!-- start-smoth-scrolling -->
	<script src="{{url_for('static',filename='js/SmoothScroll.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/move-top.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/easing.js')}}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

<!-- //js-scripts -->

</body>
</html>
