{% extends "admin_layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-9" style="margin-top:20px;margin-left:10px;">

            <table class="table table-striped w-auto text-nowrap table-bordered table-hover ">
              <thead>
                <tr>
                  <th scope="col">Orderid</th>
                  <th scope="col">Rentalproduct</th>
                  <th scope="col">User</th>
                  <th scope="col">Rentalorder_date</th>
                  <th scope="col">Rentalreturn_date</th>
                  <th scope="col">Total_price</th>
                  <th scope="col">Rental_status</th>
                    <th scope="col">View</th>
                </tr>
              </thead>
                <tbody>
                  {% for item in bookings %}
                    <tr>
                      <td>{{item.orderid}}</td>
                        <td>{{ item.rentalproductid}}</td>
                      <td>{{ item.userid}}</td>
                      <td>{{ item.rentalorder_date}}</td>
                      <td>{{ item.rentalreturn_date}}</td>
                      <td>{{ item.total_price}}</td>
                      <td>{{ item.rental_status}}</td>
                      <td><a href="#" class="btn btn-primary btn-sm m-1">View</a></td>

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        </div>
{% endblock content %}