{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
<style>
    .container{
    font-size:16px;
    font-family:verdana;
    }
</style>



<div id="id_registration_page" class="container">
    <div class="row">
             <form class="form-horizontal" enctype="multipart/form-data" action="/register?isadmin={{isadmin}}" method="POST" type="submit" onsubmit="return validate();">
                <div class="col-sm-offset-2" style="margin-bottom: 20px">
                    <h1>Create your account</h1>
                </div>

                <input type='hidden' name='csrfmiddlewaretoken' value='fMB8f8diP5pLcajfbMx68YnKWkMS2bmgDdQK2XVR5okG7MjRGVdD4zVZHgDHRIM2' />

                  <div class="form-group">

                            <div>
                                <label for="profileImage1" class="col-sm-3 control-label">Profile Photo:</label>
                                <div class="col-sm-5">
                                    <image id="profileImage1"  src="/static/images/default.jpg" alt="Avatar" class="avatar"/>
                              <input id="profileImage1" type="file"
                                name="profile_photo" placeholder="Photo" required="" capture>
                                    </div>
                            </div>


                    </div>

                   <div class="form-group">

                            <div>
                                <label for="farmImage" class="col-sm-3 control-label">Farm Image:</label>
                              <div class="col-sm-5">
                                    <image id="farmImage"  src="/static/images/farm.jpg" alt="Avatar" class="avatar"/>
                              <input id="farmImage" type="file"
                                name="farm_photo" placeholder="Photo" required="" capture>
                                </div>
                            </div>


                    </div>

                <div class="form-group">

                            <div>
                                <label for="id_email" class="col-sm-3 control-label">Email:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="email" class="form-control" maxlength="100" required id="id_email" />
                                </div>
                            </div>


                    </div>
                <div class="form-group">

                            <div>
                                <label for="id_password"  class="col-sm-3 control-label">Password:</label>
                                <div class="col-sm-5">
                                    <input  name="password" type="password" class="form-control" maxlength="100" required id="id_password" />
                                </div>
                            </div>


                    </div>
                <div class="form-group">

                            <div>
                                <label for="id_password3" class="col-sm-3 control-label">Confirm Password:</label>
                                <div class="col-sm-5">
                                    <input type="password" name="cpassword" class="form-control" maxlength="100" required id="id_password3" />
                                </div>
                            </div>


                    </div>
                <div class="form-group">

                            <div>
                                <label for="id_firstname" class="col-sm-3 control-label">FirstName:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="firstName" class="form-control" maxlength="100" required id="id_firstname" />
                                </div>
                            </div>


                    </div>
                <div class="form-group">

                            <div>
                                <label for="id_lastName" class="col-sm-3 control-label">LastName:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="lastName" class="form-control" maxlength="100" required id="id_lastName" />
                                </div>
                            </div>


                    </div>
                <div class="form-group">

                            <div>
                                <label for="id_address1" class="col-sm-3 control-label">Address Line 1:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="address1" class="form-control" maxlength="100" required id="id_address1" />
                                </div>
                            </div>


                    </div>
                <div class="form-group">

                            <div>
                                <label for="id_address2" class="col-sm-3 control-label">Address Line 2:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="address2" class="form-control" maxlength="100" required id="id_address2" />
                                </div>
                            </div>


                    </div>




                    <div class="form-group">
                        <div>
                            <label for="id_email" class="col-sm-3 control-label">Select State:</label>
                                <div class="col-sm-5">
                                    <select id="countySel" name="country" size="1"  class="form-control" maxlength="75" required id="id_countySel">
                                       <option value="" selected="selected">-- Select State --</option>
                                  </select>

                                </div>
                            </div>
                    </div>

                  <div class="form-group">
                        <div>
                            <label for="id_email" class="col-sm-3 control-label">Select District:</label>
                                <div class="col-sm-5">
                                    <select id="stateSel" name="state" size="1"  class="form-control" maxlength="75" required id="id_stateSel">
                                       <option value="" selected="selected">-- Select District --</option>
                                  </select>

                                </div>
                            </div>
                    </div>

                  <div class="form-group">
                        <div>
                            <label for="id_email" class="col-sm-3 control-label">Select City:</label>
                                <div class="col-sm-5">
                                    <select id="citySel" name="city" size="1"  class="form-control" maxlength="75" required id="id_citySel">
                                       <option value="" selected="selected">-- Select City --</option>
                                  </select>

                                </div>
                            </div>
                    </div>

                <div class="form-group">
                        <div>
                            <label for="id_email" class="col-sm-3 control-label">Select ZipCode:</label>
                                <div class="col-sm-5">
                                    <select id="zipSel" name="zipcode" size="1"  class="form-control" maxlength="75" required id="id_zipSel">
                                       <option value="" selected="selected">-- Select ZipCode --</option>
                                  </select>

                                </div>
                            </div>
                    </div>

                 <div class="form-group">

                            <div>
                                <label for="id_phone" class="col-sm-3 control-label">Phone:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="phone" class="form-control" maxlength="100" required id="id_phone" />
                                </div>
                            </div>


                    </div>


                <div class="form-group">

                            <div class="col-sm-offset-3 col-sm-5">
                                <div class="checkbox">
                                    <label id="id_tos_label">
                                      <input type="checkbox" name="tos" required id="id_tos" /> I agree to the <a href="/terms/">Terms and Conditions</a>
                                      and the <a href="/privacy/">Privacy and Cookies Policy</a>,
                                      and confirm that I am at least 13 years old.
                                    </label>
                                </div>
                            </div>


                    </div>


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">

                            <button id="id_register_button" type="submit" class="btn btn-primary">Register</button>


                        <div id="id_we_dont_spam">
                            We promise not to spam or pass your details on to anyone else.
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div><br/><br/>




{% endblock content %}