{% extends "base.html" %}
{% block content %}


<div class="container">



    <div class="row">





                <div class="col-md-12"><br/>
                    <h2>{{msg2}}</h2></div>
                 <div class="col-md-12"><br/>
                     {% for data in rentalproducts %}
                     <div class="col-md-3"><br/>
                         <!-- Optional JavaScript -->
                <!---- <form action="/addToCart?productId={{data.productid}}&rent=True&numdays={{item}}" method="POST" type="submit" onsubmit="return validate();">
                   --><form action="#" method="POST" type="submit" onsubmit="return validate();">
                     <table  class="table table-light" id="descriptionTable">
                            <tr>
                                <th scope="col"> <strong>{{data.product_name}}</strong></td>
                            </tr>
                              <tr>
                                  <td scope="row">
                                      <img src={{url_for('static', filename='uploads/' + data.image) }} id="itemImage" /></td>
                              </tr>



                                 <tr>

                                <td scope="row">Days Needed:</td>

                                <td scope="row"><select  name="numdays" size="1" placeholder="product" >
                                        {% for item in range(1,10) %}
                                    <option value="{{item}}">{{item}}</option>
                                        {% endfor %}
                                </select></td>
                              </tr>

                            <tr>

                                 <button id="id_location" type="submit" class="btn btn-primary">CHECK AVAILABILITY</button>
                                 </tr>

                             <tr>
                                <td scope="row" class="col-md-6">
                                    {% for item in list1 %}
                                    {% if check and not item[1] %}
                                    {% if item[0]|int() == data.productid|int() %}
                                     <button class="btn btn-success" type="submit" value="Add Cart" id="sub1">
                                         <a href="/bookingForm?productid={{data.productid}}">AVAILABLE NOW</a></button>
                                    {%endif%}{%endif%}
                                    {%if check and item[1] %}
                                      {% if item[0]|int() == data.productid|int() %}
                                    <button class="btn btn-danger" type="submit" value="Add Cart" id="sub1">
                                     NOT AVAILABLE NOW </button>
                                    {%endif%}{%endif%}
                                    {% endfor %}

                                </td>
                             </tr>
                    </table></form>
                    </div>

                {% endfor %}</div>




    <hr>






	<hr><br/><br/>




</div></div>



{% endblock content %}

